{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common.html" %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
    <title>CAMS CARPOOL</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .panel-heading {
            background-color: #007bff;
            color: #fff;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
        #my-commutes-table_wrapper .row {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "user_home" %}"><b>Illumina</b></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hi, {{ user.first_name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

<div class="container">

    {% if not commutes %}
        <div class="alert alert-warning text-center" role="alert">
            Oops! Apparently, you still have not created any rides.
            Click <a href="{% url "new_commute" %}">here</a> to create one.
        </div>
    {% else %}
        <div class="card">
            <div class="card-header panel-heading">My Commutes</div>
            <div class="card-body">
                <form id="delete-commutes-form" method="get" action="{% url "delete_commutes" %}">
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Delete Commutes</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="my-commutes-table">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="selectAll"/>
                                </th>
                                <th scope="col">Time of Commute</th>
                                <th scope="col">Weekday</th>
                                <th scope="col">Starting Place</th>
                                <th scope="col">Ending Place</th>
                                <th scope="col">Number of Seats</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for commute in commutes %}
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="commutes[]" value="{{ commute.id }}"/>
                                        </label>
                                    </td>
                                    <td>{{ commute.format_time }}</td>
                                    <td>{% for key, day in WEEKDAYS.items %}
                                            {% if commute.time.weekday == key %}
                                                {{ day }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ commute.start_name }} ({{ commute.start_latitude }},
                                        {{ commute.start_longitude }})</td>
                                    <td>{{ commute.end_name }} ({{ commute.end_latitude }},
                                        {{ commute.end_longitude }})</td>
                                    <td>{{ commute.seats }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        var table = $('#my-commutes-table').DataTable();

        $('#selectAll').click(function (e) {
            var checked = $(this).prop('checked');
            $('input[name="commutes[]"]').prop('checked', checked);
        });
    });
</script>
</body>
</html>
 